*{margin:0; padding:0; box-sizing:border-box;}

@font-face {
  font-family: 'Luckiest Guy';
  src:  url('../fonts/luckiest-guy-v8-latin-regular.woff2') format('woff2'),
  url('../fonts/luckiest-guy-v8-latin-regular.woff') format('woff');
}

body{font-family:'Luckiest Guy';
  >.page{position:relative; height:100vh; overflow:hidden;
    >.header{position:relative; z-index:1; background:white;
      >.title{padding:20px 0 15px 0; border-left:none; border-right:none; text-align:center;}
      >.tabs{height:36px; border-bottom:3px solid black;
        >.tab{float:left; width:54px; height:36px; border:3px solid black; border-left:none; padding:3px 0 0 5px;
          border-radius:4px; border-bottom-left-radius:0; border-bottom-right-radius:0;
          >.piggy{position:relative; width:425px; height:245px;
            transform:scale(0.1);
            transform-origin:top left;
            &:before{content:''; display:block; position:absolute; width:100%; height:100%;}
            &:after{content:''; display:block; position:absolute; background:url(../img/schweinchen.svg) no-repeat; width:100%; height:100%;}
            &.green{
              &:before{background:url(../img/schweinchen-bg-green.svg) no-repeat;}
            }
            &.yellow{
              &:before{background:url(../img/schweinchen-bg-yellow.svg) no-repeat;}
            }
            &.blue{
              &:before{background:url(../img/schweinchen-bg-blue.svg) no-repeat;}
            }
          }
          &.active{border-bottom-color:white;}
        }
      }
    }
    >.main{position:relative; height:calc(100% - 136px);
      >.center{position:absolute; top:0; right:0; bottom:0; left:0; text-align:center;
        display:flex; align-items:center; justify-content:center;
        &.main{
          transition:opacity 0.5s, transform 0.5s;
          >.content{
            >.username{padding-bottom:40px; font-size:28px;}
            >.piggyHolder{width:311px; height:126px;
              >.piggy{width:647px; height:261px;
                transform:scale(0.48);
                transform-origin:top left;
                &:before{content:''; display:block; position:absolute; width:100%; height:100%; background:url(../img/schweinchen_main_bg-green.svg);}
                &:after{content:''; display:block; position:absolute; width:100%; height:100%; background:url(../img/schweinchen_main.svg);}
              }
            }
            >.creditTitle{padding:20px 0 10px 0;}
            >.credit{position:relative;
              >.amount{font-size:28px;}
              >.button{position:absolute; top:0; width:33px; height:33px; border-radius:30px; border:2px solid black; font-size:36px;
                &.minus{left:20px; padding: 3px 0 0 0;}
                &.plus{right:20px; padding:1px 0 0 1px;}
              }
            }
            >.details{margin-top:10px;}
          }
          &.disabled{opacity:0; transform:scale(0.5);}
        }
        &.creditWidget{opacity:0; pointer-events:none;
          transform:scale(1.5);
          transition:opacity 0.5s, transform 0.5s;
          >.content{
            >.title{font-size:28px;}
            >.input{margin-top:30px;
              >.sign{font-size:30px;}
              >.amount{width:100px; height:32px; padding-top:10px; border:none; border-bottom:2px solid black;
                font-family:'Luckiest Guy'; font-size:28px; text-align:right; color:#333;
              }
            }
            >.comment{margin-top:30px;
              >.title{margin:20px 0 10px 0;}
              >input{border:none; border-bottom:2px solid black;
                font-family:'Luckiest Guy'; font-size:20px; color:#333;
              }
            }
            >.check{position:absolute; left:50%; margin-top:30px; width:33px; height:33px; border-radius:30px; border:2px solid black;
              transform:translateX(-50%);
              &:before{content:''; display:block; margin:5px 0 0 5px; background:url(../img/check.svg); width:108px; height:120px;
                transform:scale(0.18);
                transform-origin:top left;
              }
            }
          }
          &.enabled{opacity:1; transform:scale(1); pointer-events:auto;}
          &.addition{
            ._subtraction{display:none;}
          }
          &.subtraction{
            ._addition{display:none;}
          }
        }
      }
    }
    >.settings{position:absolute; top:calc(100% - 20px); width:100%; height:100%; border:3px solid black; border-right:none; border-left:none; background:white;
      transition:top 0.5s;
      >.top{position:absolute; left:50%; top:-34px; width:54px; height:34px; border:3px solid black; border-bottom-color:white;
        border-radius:4px; border-bottom-left-radius:0; border-bottom-right-radius:0;
        background:url(../img/settings.svg) no-repeat center center; background-size:26px 26px;
        transform:translateX(-50%);
      }
      >.content{height:100%; padding-top:133px;
        >.title{margin-top:20px; text-align:center;}
      }
      >.bottom{position:absolute; left:50%; bottom:-34px; width:54px; height:34px; border:3px solid black; border-top-color:white;
        border-radius:4px; border-top-left-radius:0; border-top-right-radius:0;
        background:url(../img/settings.svg) no-repeat center center; background-size:26px 26px;
        transform:translateX(-50%);
        &:before{content:''; }
      }
      &.opened{top:-50px;}
    }
  }
}

svg path { fill:#000; }